.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: calc(100vh - 160px); /* Adjust height based on header and footer size */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .header-box {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .plan-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden; /* Ensures content stays within rounded corners */
  }
  
  .plan-card:hover {
    transform: translateY(-5px);
  }
  
  .plan-card img {
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .plan-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 16px;
  }
  
  .plan-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .plan-detail {
    margin-bottom: 8px;
    color: #666;
  }
  
  .plan-price {
    font-size: 1.5rem;
    color: #d32f2f;
    margin: 10px 0;
  }
  
  .get-now-button {
    background-color: #1976d2;
    color: #fff;
    margin-top: auto;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .get-now-button:hover {
    background-color: #155a9f;
  }
  